
.rubber-band {
  -webkit-animation-name: rubberBand;
  -webkit-animation-duration: 1.5s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-delay: 1s;
	animation-name: rubberBand;
	animation-duration: 1.5s;
	animation-iteration-count: 1;
	animation-delay: 1s;
}

.rubber-band-5 {
  -webkit-animation-name: rubberBand;
  -webkit-animation-duration: 1.5s;
	-webkit-animation-iteration-count: 3;
	-webkit-animation-delay: 5s;
	animation-name: rubberBand;
	animation-duration: 1.5s;
	animation-iteration-count: 3;
	animation-delay: 5s;
}

@keyframes rubberBand {
    from {transform: scale3d(1, 1, 1);}
    30% {transform: scale3d(1.25, 0.75, 1);}
    40% {transform: scale3d(0.75, 1.25, 1);}
    50% {transform: scale3d(1.15, 0.85, 1);}
    65% {transform: scale3d(.95, 1.05, 1);}
    75% { transform: scale3d(1.05, .95, 1);}
    to { transform: scale3d(1, 1, 1);}
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
}
